div.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

div.grid-row {
    display: flex;
    flex: 1;
}

div.grid {
    border: 1px solid black;
    flex: 1;
}

div.grid:hover {
    background-color: gray;
}
