div.container {
    width: 980px;
    height: 980px;
}

div.grid-row {
    display: flex;
}

div.grid {
    /* width: 20px;
    height: 20px; */
    border: 1px solid black;
}

div.grid:hover {
    background-color: gray;
}
